.header-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20rem;
}


.info-title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:14.1rem;
}

.container, .container2{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 2rem;
}

.micro-para, .role-para{
    display: flex;
    flex-direction: row;
    gap:21rem;
}

.role-para{
    display: flex;
    flex-direction: row;
    gap:22.5rem;
}

.project-para{
    display: flex;
    flex-direction: row;
    gap:19rem;
}
