/* Founders regular */
@font-face {
    font-family: "FoundersGrotesk-Regular" ;
    src: url(../fonts/FoundersGrotesk-Regular.woff);
}

/* Founders mono */
@font-face {
    font-family: "test-founders-grotesk-mono-regular" ;
    src: url(../fonts/test-founders-grotesk-mono-regular.woff2);
}

@font-face {
    font-family: "FoundersGrotesk-Medium" ;
    src: url(../fonts/FoundersGrotesk-Medium.woff);
}