/* Font sizes */
h1 {
    font-family: test-founders-grotesk-mono-regular;
    font-size: 0.62rem;
}

h2 {
    font-family: test-founders-grotesk-mono-regular;
    font-size: 0.62rem;
}

h3 {
    font-family: FoundersGrotesk-Medium;
    font-size: 0.75rem;
    letter-spacing: 0rem;
}

h4 {
    font-family: FoundersGrotesk-Regular;
    font-size: 0.82rem;
    letter-spacing: 0rem;
}

/* End of font sizes */


/* navigation link */
nav {
   
    margin-top: 0rem;
    letter-spacing: -3%;
    padding-left: 1rem;
    width: 110%;

}
/* end of navigation link */

body {
    background-color: white;
}

/* Claret's bio *fixed at the top* */
.bio-heading{
    line-height:1.1rem;
    max-width: 30rem;
    grid-column: 4/span 6;
   
}

/* End of Claret's bio */

/* top nav *home btn and bio */
.header-row{ 
    position:fixed;
    color:#AEAEAE;
}
/* end of top nav */

/* image size (home) */
.microite-img, .DDA-img{
    height:auto;
    width: 100%;
    max-width: 710px;
    /* width="710" height="500" */

}

/* home logline */
.mc-logline{
    color:#AEAEAE;
    max-width: 15rem;
    line-height:1.1rem;
    margin-top:0rem;
}
/* end of logline */

.container{
    padding-top:13rem;
    padding-left: 1rem;
}


/* microsite context paragrapghs padding */
.micro-para, .role-para, .project-para{
    padding-left: 1rem;
    padding-top:13rem;
    
}
/* End of context */

/* context color */
.micro-intro, .role-intro, .project-intro{
    color:#AEAEAE;
}
/* end of context-color */


/* microsite context paragrapghs */
.micro-intro1, .role-intro1, .project-intro1{
    line-height:1.1rem;
    margin-top:0rem;
    max-width: 30rem;
    grid-column: 4/span 6;
    color: #3B3B3B;
}
/* End of context */

/* role */
.role, .project-type{
    margin-top:-10rem;
}
/* end of role */

.container2{
    padding-top:4rem;
    padding-left: 1rem;
    max-width: 100%;
}

/* DDA video solution */
.video{
    margin-top:10rem;
}
/* end of video solution */

/* The dutch culture paragraph */
.the-dutch-culture{
    padding-left:25rem;
    margin-top:10rem;  
    line-height:1.1rem;
    max-width: 30rem;
    grid-column: 4/span 6;
    color: #3B3B3B;
}

.the-dutch-culture2{
    padding-left:25rem;
    margin-top:4rem;  
    line-height:1.1rem;
    max-width: 30rem;
    grid-column: 4/span 6;
    color: #3B3B3B;
}
/* end of the paragraph */

/* font size for "the dutch culture */
.dutch-h{
    font-size: 1.1rem;
}
/* end of fint size */


.quotes{
    padding-left: 25rem;
    margin-top: 3rem;
}